<div class="block-category" style="background-color: {{section.background-color}};">
    <h1>{{section.name}}</h1>
    <br>
    <h2>{{section.description}}</h2>
    <br>
    <!-- <button class="primary">{{section.ctaContent}}</button> -->
    <div id="{{ section.slug | slugify }}" class="c-block-card-carousel">
        <div id="carousel-{{section.number}}" class="carousel-inner">


            {% for card in section.cards %}
            <span class="anchor" id="{{card.id}}"></span>
            <!-- <div class="card" id="{{ card.number }}">
                    <div>
                        <div class="icon">💡</div>
                        <p class="text">{{ card.content }}</p>
                    </div>
                    <div class="reference">{{ card.reference }}</div>
                </div> -->
            <div class="card" >
                <!-- <div class="card-img" style="position: relative; z-index: -1; background-size: contain; background: radial-gradient(circle closest-corner at 0% 100%, white 15%, rgba(255, 255, 255, 0.7) 100%), url({{ product.image | relative_url }});" alt="Avatar"></div> -->
                <a href="{{ card.infolink | relative_url }}">
                    <div class="card-img"
                        style="background-image: url({{ card.image | relative_url }}); background-image: url({{ card.image | relative_url }}), linear-gradient(#90A1A8, #949C91);"
                        alt="Avatar">
                    </div>
                </a>

                <div class="container">
                    <div class="text">
                        <p><b>{{card.name}}</b></p>
                        <p>{{card.price}}</p>
                    </div>
                    <div class="button-group">
                        <a href="{{ card.infolink | relative_url }}" class="button primary info c-icon"><img class="buttons"
                                src="{{ "/assets/images/icons/info.svg" | relative_url }}"></a>
                        <a class="button primary shop c-icon"><img class="buttons"
                                src="{{ "/assets/images/icons/shopping-cart.svg" | relative_url }}"></a>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>


    </div>
    </script>