<div class="block-carousel" style="height: {{section.height}}; padding-top: {{section.padding_top}}">
  <div class="carousel-container">
    {% for card in section.cards %}
    <input class="input-radios" type="radio" name="slider" id="item-{{card.number}}">
    {% endfor %}
    <div class="cards" id="carouselInner">
      {% for card in section.cards %}
      <label class="card" for="item-{{card.number}}" id="song-{{card.number}}">
        <div style="background-image: url({{ card.image | relative_url }})" alt="song" class="img">
          <img src="{{ card.image | relative_url }}" style="visibility: hidden;" />
        </div>
      </label>
      {% endfor %}
    </div>

    <div class="indicators">
      {% for card in section.cards %}
      <div id="indicator-{{card.number}}" class="indicator"><object height="15px" width="15px" data="{{ 'assets/images/icons/hearth.svg' | relative_url }}"></object></div>
      {% endfor %}
    </div>

    <script>
      var imgs = document.images,
        len = imgs.length,
        counter = 0;

      [].forEach.call(imgs, function (img) {
        if (img.complete)
          incrementCounter();
        else
          img.addEventListener('load', incrementCounter, false);
      });

      function incrementCounter() {
        counter++;
        if (counter === len) {
          const carouselInner = document.getElementById("carouselInner");
          document.getElementById('item-0').setAttribute("checked", true);
          const fixedLength = Object.assign({}, { length: carouselInner.children.length });
          const childrenWidthsFixed = Object.assign({}, [...carouselInner.children].map(child => child.clientWidth));
          const getNextChildIndex = (index) => {
            index = parseInt(index);
            if (index === fixedLength.length - 1) {
              return 0;
            } else {
              return index + 1;
            }
          }
          const getBeforeChildIndex = (index) => {
            index = parseInt(index);
            if (index === 0) {
              return fixedLength.length - 1;
            } else {
              return index - 1;
            }
          }
          for (let childIndex = 0; childIndex < fixedLength.length; childIndex++) {
            const child = carouselInner.children[childIndex];
            const childWidth = childrenWidthsFixed[childIndex];
            const childBeforeWidth = childrenWidthsFixed[getBeforeChildIndex(childIndex)] * 0.9;
            const childNextWidth = childrenWidthsFixed[getNextChildIndex(childIndex)] * 0.9;
            const childBeforeBeforeWidth = childrenWidthsFixed[getBeforeChildIndex(getBeforeChildIndex(childIndex))] * 0.8;
            const childNextNextWidth = childrenWidthsFixed[getNextChildIndex(getNextChildIndex(childIndex))] * 0.8;
            const styleTemplate = `
          <style>

            #item-${childIndex}:checked ~ .cards #song-${getBeforeChildIndex(childIndex)} {
              transform: translatex(-${Math.abs(childWidth / 2 + childBeforeWidth / 2 - 10)}px) scale(0.9);
              opacity: 1;
              z-index: 1;
              display:block;
              filter: blur(4px);
              -webkit-filter: blur(4px);
            }

            #item-${childIndex}:checked ~ .cards #song-${getNextChildIndex(childIndex)} {
                transform: translatex(${childWidth / 2 + childNextWidth / 2 - 10}px) scale(0.9);
                opacity: 1;
                z-index: 1;
                display:block;
                filter: blur(4px);
                -webkit-filter: blur(4px);
            }
            #item-${childIndex}:checked ~ .cards #song-${getBeforeChildIndex(getBeforeChildIndex(childIndex))} {
              transform: translatex(-${Math.abs(childWidth / 2 + childBeforeWidth / 2 + childBeforeBeforeWidth / 2 - 10)}px) scale(0.8);
              opacity: 0.2;
              z-index: 0;
              display:block;
              filter: blur(4px);
              -webkit-filter: blur(4px);
            }

            #item-${childIndex}:checked ~ .cards #song-${getNextChildIndex(getNextChildIndex(childIndex))} {
                transform: translatex(${childWidth / 2 + childNextWidth / 2 + childNextNextWidth / 2 - 10}px) scale(0.8);
                opacity: 0.2;
                z-index: 0;
                display:block;
                filter: blur(4px);
                -webkit-filter: blur(4px);
            }
            #item-${childIndex}:checked ~ .cards #song-${childIndex} {
                transform: translatex(0) scale(1);
                opacity: 1;
                z-index: 2;
                display:block;
            }
  
            #item-${childIndex}:checked ~ .indicators #indicator-${childIndex} {
              filter: invert(26%) sepia(15%) saturate(4245%) hue-rotate(148deg) brightness(100%) contrast(102%);
            }
  
          </style>
          `
            carouselInner.insertAdjacentHTML('beforeend', styleTemplate);
          }
          const dontDisplayCards = `<style>.card {opacity: 0}</style>`;
          carouselInner.insertAdjacentHTML('beforeend', dontDisplayCards);

          const inputRadios = document.getElementsByClassName('input-radios');
          let checkedIndex = 0;

          var keys = {37: 1, 38: 1, 39: 1, 40: 1};

          let cancelledScrolling = false;

          function preventDefault(e) {
            if(e.cancelable) {
              cancelledScrolling = true;
              e.preventDefault();
            } else {
              cancelledScrolling = false;
            }
          }

          function preventDefaultForScrollKeys(e) {
            if (keys[e.keyCode]) {
              preventDefault(e);
              return false;
            }
          }

          // modern Chrome requires { passive: false } when adding event
          var supportsPassive = false;
          try {
            window.addEventListener("test", null, Object.defineProperty({}, 'passive', {
              get: function () { supportsPassive = true; } 
            }));
          } catch(e) {}

          var wheelOpt = supportsPassive ? { passive: false } : false;
          var wheelEvent = 'onwheel' in document.createElement('div') ? 'wheel' : 'mousewheel';

          // call this to Disable
          function disableScroll() {
            window.addEventListener('DOMMouseScroll', preventDefault, false); // older FF
            window.addEventListener(wheelEvent, preventDefault, wheelOpt); // modern desktop
            window.addEventListener('touchmove', preventDefault, wheelOpt); // mobile
            window.addEventListener('keydown', preventDefaultForScrollKeys, false);
          }

          // call this to Enable
          function enableScroll() {
            window.removeEventListener('DOMMouseScroll', preventDefault, false);
            window.removeEventListener(wheelEvent, preventDefault, wheelOpt); 
            window.removeEventListener('touchmove', preventDefault, wheelOpt);
            window.removeEventListener('keydown', preventDefaultForScrollKeys, false);
          }

          var touchstartX = 0;
          var touchstartY = 0;
          var touchendX = 0;
          var touchendY = 0;

          var gesuredZone = carouselInner

          gesuredZone.addEventListener('touchstart', function (event) {
            touchstartX = event.changedTouches[0].screenX;
            touchstartY = event.changedTouches[0].screenY;
          }, false);

          gesuredZone.addEventListener('touchmove', function (event) {
            if(touchstartX && touchstartY && event.changedTouches.length > 0) {
              const actualScreenX = event.changedTouches[0].screenX;
              if(Math.abs(touchstartX - actualScreenX) > 10) {
                disableScroll();
              }
            }
          }, false);

          gesuredZone.addEventListener('touchend', function (event) {
            touchendX = event.changedTouches[0].screenX;
            touchendY = event.changedTouches[0].screenY;
            handleGesure();
            enableScroll();
          }, false);

          function handleGesure() {
            var swiped = 'swiped: ';
            if (touchstartX - touchendX > 20 && cancelledScrolling) {
              [...inputRadios].forEach((inputRadio, inputIndex) => {
                if (!inputRadios[inputIndex]) return;
                const checked = inputRadios[inputIndex].checked;
                if (checked) checkedIndex = inputIndex;
                inputRadios[inputIndex].setAttribute('checked', false);
              })
              inputRadios[getNextChildIndex(checkedIndex)].checked = true;
            }
            if (touchendX - touchstartX > 20 && cancelledScrolling) {
              [...inputRadios].forEach((inputRadio, inputIndex) => {
                if (!inputRadios[inputIndex]) return;
                const checked = inputRadios[inputIndex].checked;
                if (checked) checkedIndex = inputIndex;
                inputRadios[inputIndex].setAttribute('checked', false);
              })
              inputRadios[getBeforeChildIndex(checkedIndex)].checked = true;
            }
          }
        }
      }
    </script>
  </div>
</div>