<section id="{{ section.slug | slugify }}" class="block block-testimonial">
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="media">
          <img src="{{ section.media.image | relative_url }}" alt="{{ section.media.alt_text }}" loading="lazy"
            SameSite=Lax>
        </div>
      </div>
      <div class="column text">
        <blockquote>
          <p class="qoute">{{ section.quote }}</p>
          <p class="author">{{ section.author }}</p>
        </blockquote>
      </div>
    </div>
  </div>
</section>