<section class="block block-footer-2">
  <div class="container">
    <div class="columns">
      <div class="column">
        {{ section.col_1 }}
      </div>
      <div class="column second">
          {{ section.col_2 }}
      </div>
      <div class="column third">
          {{ section.col_3 }}
          {% if section.cta %}
            <a class="button primary small" href="{{ section.cta.url }}">{{ section.cta.button_text }}</a>
          {% endif %}
      </div>
    </div>
  </div>
</section>