<div id="products" class="block-products">
    {% for product in section.products %}
    <div class="card">
        <!-- <div class="card-img" style="position: relative; z-index: -1; background-size: contain; background: radial-gradient(circle closest-corner at 0% 100%, white 15%, rgba(255, 255, 255, 0.7) 100%), url({{ product.image | relative_url }});" alt="Avatar"></div> -->
        <a href="{{ product.infolink | relative_url }}">
            <div class="card-img"
                style="background-image: url({{ product.image | relative_url }}); background-image: url({{ product.image | relative_url }}), linear-gradient(#90A1A8, #949C91);"
                alt="Avatar">
            </div>
        </a>

        <div class="container">
                <div class="text">
                    <p><b>{{product.name}}</b></p>
                    <p>{{product.price}}</p>
                </div>
                <div class="button-group">
                    <a href="{{ product.infolink | relative_url }}" class="button primary info"><img class="buttons" src="{{ "/assets/images/icons/info.svg" | relative_url }}"></a>
                    <a class="button primary shop"><img class="buttons" src="{{ "/assets/images/icons/shopping-cart.svg" | relative_url }}"></a>
                </div>
        </div>
    </div>
    {% endfor %}
</div>