<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <base href="{{ site.baseurl }}">
  <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
  <meta name="author" content="{{ site.author }}">
  <meta name="description" content="{{ site.description }}">
  <link rel="shortcut icon" type="image/x-icon" href="/portfoio-website/favicon.ico"> 
  <link rel="stylesheet" href="{{ site.baseurl }}/css/styles.css">
  <link rel="preconnect" href="https://cdn.snipcart.com">
  <link rel="stylesheet" href="https://cdn.snipcart.com/themes/v3.2.0/default/snipcart.css" />
  <script async src="https://cdn.snipcart.com/themes/v3.2.0/default/snipcart.js"></script>
  <div id="snipcart" data-config-modal-style="side" data-api-key="OTZjYjJmMTEtZGFhMi00ZGZlLWJjOTctM2E5NDU5ODE2NjZlNjM3NTczMDIxODA4NDI4MTAz" data-currency="eur" hidden></div>
</head>

<body>