.block-headline-list {
  height: 100vh;

  background-image: url("./../assets/images/logos-background.png");
  -webkit-animation: backgroundScroll 40s infinite;
  animation: backgroundScroll 40s infinite;
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: 80vh;

  .container {
    height: 100%;
  }

  .columns {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  
    .column {
      text-align: center;
      padding: 1rem;
      
      h2 {
        color: #000;
        font-weight: 900;
      }
    }
    
  }
  
  @media screen and (min-width:768px) {
    margin-bottom: 10rem;
    height: 50vh;
    display: flex;
    align-items: center;

    .columns {
      flex-direction: row;
      flex: 1 1 15rem;

      .column {
        align-self: center;
      }

      h2 {
        font-size: 1.5rem;
      }
    }
  }

}

@-webkit-keyframes backgroundScroll {
  from {background-position: 0 0;}
  to {background-position: +360px 0px;}
}

@keyframes backgroundScroll {
  from {background-position: 0 0;}
  to {background-position: +360px 0px;}
}