.block-category {
    margin-top: 10px;
    padding: 80px 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    .c-block-card-carousel {
        margin: 1rem;

        .carousel-inner {
            display: flex;
            flex-wrap: wrap;

            .card {
                transition: 0.3s;
                margin: 1rem;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                word-break: break-word;
                // padding: 1rem;
                border-radius: $border-radius;
                // background-color: $accent-background;
                box-shadow: $shadow;
                max-width: 95vw;
                cursor: pointer;

                .icon {
                    font-size: 2rem;
                    padding-bottom: 0.5rem;
                }

                div.text {

                    padding: 1rem;
                    font-weight: 300;
                    font-size: 1.2rem;
                    text-align: left;
                }

                a.button {
                    background-color: $font-color-inverted;
                    transition: 0.2s;

                    &:hover {
                        background-color: $primary;
                    }
                }

                .reference {
                    margin-top: 0.5rem;
                    font-weight: 200;
                    font-size: 0.8rem;
                }

                .container {
                    display: flex;
                    flex-direction: row;
                    padding: 1rem;
                }

                .button-group {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                &:hover {
                    transform: scale(1.05);
                }
            }

            .card-img {
                // transition: transform 0.2s;
                height: 250px;
                min-width: 300px;
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                border-top-left-radius: 12px;
                border-top-right-radius: 12px;
                // background-image: url("IMAGE_URL"), linear-gradient(#eb01a5, #d13531);
            }
        }

        @media screen and (min-width: 768px) {
            padding: 1rem 0;

            .row .carousel-inner {
                .card {
                    margin: 0 2rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    flex: 0 0 20rem;
                    scroll-snap-align: none;

                    .text {
                        font-size: 1.3rem;
                    }

                    .reference {
                        font-size: 0.5rem;
                    }
                }
            }
        }
    }
}
