
.block-header-2 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  padding: 8px 32px;
  padding: 0.5rem 2rem;
  background-color: $background;
  
  position: fixed;
  width: 100vw;
  z-index: 100;
  border-bottom: 2px solid $primary;
}

.logo {
  display: flex;
  font-size: larger;
  // align-items: baseline;
  text-decoration: none;
}

.logo > p {
  margin-top: 26px;
  margin-left: -25px;
}

.block-header-2--logo img {
  max-height: 28px;
  max-height: 2rem
}

.block-header-2 .nav-item {
  display: inline-block;
  list-style: none;
  margin-right: 16px;
  margin-right: 1rem;
  font-size: 17px;
  font-size: 1rem;
}

@media screen and (max-width:768px) {
  .block-header-2 .nav-item {
    font-size: 12px;
  }
}

.block-header-2 .nav-item.active a {
  color: $primary
}

.block-header-2 .nav-item a {
  text-decoration: none;
  color: $accent;
}

.block-header-2 .nav-item a:hover {
  color: $primary;
}

.block-header-2 .nav-item.active a:hover {
  color: $primary
}

.block-header-2 .nav-item:last-of-type {
  margin: 0
}

.block-header-2--cta {
  margin-left: 32px;
  margin-left: 2rem
}

@media screen and (min-width:768px) {
  .block-header-2 {
    padding: 0.5rem 4rem;
  }

  .block-header-2--logo img {
    max-height: 24px;
    max-height: 3rem
  }

  .block-header-2--nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: baseline;
    align-items: baseline
  }
}