.block-products {
    margin: auto;
    padding: 30px;
    max-width: 980px;
    display: flex;
    flex-wrap: wrap;
}

.block-products > .card {
    margin: 20px;
    width: 400px;
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.block-products > .card:hover {
    box-shadow: 0 8px 16px 0 $primary;
}

/* Add some padding inside the card container */
.block-products > .card > .container {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.block-products > .card > .container > p {
    font-size: small;
    line-height: 1rem;
}

.block-products > .card > .card-img {
    transition: transform .2s;
    height: 250px;
    width: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    // background-image: url("IMAGE_URL"), linear-gradient(#eb01a5, #d13531);
}

.block-products > .card:hover {
    transform: scale(1.05);
    // background-image: url("IMAGE_URL"), linear-gradient(#eb01a5, #d13531);
}

.button-group > button {
    padding: 10px;
    border-radius: 0px;
    border-width: 2px!important;
}

.button-group > button:hover {
    background-color: $primary;
}

//Mobil immer volle breite
// 100 % width, und eine gewisse maximale Höhe

// Desktop immer n Bilder auf einer Seite: max width von x pixeln
// Höhe aber auch beschränkt

.buttons {
    height: 25px;
    width: 25px;
}

@media screen and (max-width:768px) {
    .block-products > .card {
        margin: 0px;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100%;
    }

    .block-products > .card > .card-img {
        width: 100%;
    }

    .info {
        display: none;
    }
  }
