.block-faq {

  .headline {
    margin-bottom: 2rem;
  }

  details[open] {
    summary ~ * {
      animation: sweep 0.3s ease-in-out;
    }

    summary:after {
      transition: 300ms linear;
      content: "-";
      font-size: 2rem;
    }
  }
  
  details {

    summary {
      width: 100%;
      padding: 0.5rem ;
      border-bottom: $border;
      position: relative;
      cursor: pointer;
      font-size: 1.25rem;
      font-weight: 300;
      list-style: none;

      &:hover {
        background: rgb(240, 240, 240);
      }

      &:after {
        content: "+";
        color: black;
        position: absolute;
        font-size: 1.75rem;
        line-height: 0;
        margin-top: 0.75rem;
        right: 1rem;
        font-weight: 200;
        transform-origin: center;
        transition: 200ms linear;
        outline: 0;
      }

      &::details, &::-webkit-details-marker {
        display: none;
       }
    }

    p {
      font-size: 0.95rem;
      margin: 0 0 1rem;
      padding: 1rem 1rem 0;
    }
  }

  @keyframes sweep {
    from {
      opacity: 0;
      margin-top: -2rem;
    }
    to {
      opacity: 1;
      margin-top: 0px;
    }
  }
  
}