.block-card-carousel {
  padding: 4rem 0;

  .headline.container {
    padding: 0 2rem;
  }

  .row {
    padding: 2rem 0;
    position: relative;

    .carousel-inner {
      display: flex;
      overflow: auto;
      padding: 1rem;
      scroll-snap-type: mandatory;
      scroll-snap-type: x mandatory;
      cursor: grab;

      // Hide scrollbar
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */

      &::-webkit-scrollbar {
        display: none;
      }

      .card {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        margin: 0 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 0 0 80%;
        word-break: break-word;
        padding: 1rem;
        border-radius: $border-radius;
        // background-color: $accent-background;
        box-shadow: $shadow;
        
        scroll-snap-align: center;

        .icon {
          font-size: 2rem;
          padding-bottom: 0.5rem;
        }
        
        p.text {
          font-weight: 300;
          font-size: 1.2rem;
        }

        .reference {
          margin-top: 0.5rem;
          font-weight: 200;
          font-size: 0.8rem;
        }
      }
    }
  }

  @media screen and (min-width:768px) {
    padding: 6rem 0;

      .row .carousel-inner {
        scroll-snap-type: none;
        justify-content: space-evenly;
        scroll-snap-type: none;
  
        .card {
          margin: 0 2rem;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          flex: 0 0 20rem;
          scroll-snap-align: none;
  
          .text {
            font-size: 1.3rem;
          }
  
          .reference {
            font-size: 0.5rem;
          }
        }
      }

  }

}