$background: #fff;
$accent-background: #f2f2f2;
$input-background: #ffffff;
$primary: #005f69;
$accent: #222222;

$font-color: #383838;
$font-color-headline: #005f69;
$font-color-inverted: #f6fbfc;

$selection: #f6fbfc;

$error: #D00000;
$warn: #FFBA08;
$success: #0A8754;

$shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);

$border: 1px solid #d2d2d7;
$border-selected: 1px solid $accent;
$border-radius: 12px;