h1 {
  font-size: 34px;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: -1.6px;
  letter-spacing: -.1rem;
  line-height: 1;
  color: $font-color-headline;
}

h1 span.light {
  font-weight: 400;
}

h2 {
  font-size: 23px;
  font-size: 1.5rem;
  font-weight: 600;
  color: $font-color-headline;
}

h2 span.light {
  font-weight: 400;
}

h3 {
  font-weight: 600;
  letter-spacing: 0;
  font-size: 20px;
  font-size: 1.2rem;
  line-height: 1.5;
}

p {
  font-size: 1rem;
  line-height: 1.8rem;
}

p {
  font-weight: 400;
  color: $font-color;
}

@media screen and (min-width:700px) {
  h1 {
    font-size: 2.5rem
  }
}

@media screen and (min-width:1000px) {
  h1 {
    font-size: 3rem
  }

  h2 {
    font-size: 28px;
    font-size: 2rem;
    font-weight: 600;
  }
}